/*
.panel-body {
    margin: 40px;
}*/
.oddWin {
    background-color: #9ACD32;
}

.evenWin {
    background-color: #228B22;
}

.oddLose {
    background-color: #FA8072;
}

.evenLose {
    background-color: #FF0000;
}

.even {
    background-color: #FFFFF0!important;
}

.odd {
    background-color: #FFF8DC!important;
}
